@model Hydron.Models.Definitions.ProcessFieldLookupModel

<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 profile-info">


                <h1 class="form-section">@Model.FieldName</h1>


                <ul class="list-unstyled">
                   
                    <li>
                        <i class="fa fa-check-circle-o"></i><label class="control-label">Status:</label><a href="#">
                            @switch (Model.IsPublic)
                            {
                                case true: <span class="label label-sm label-success">Public</span>
                                    break;
                                case false: <span class="label label-sm label-warning">Private</span>
                                    break;
                            }
                        </a>
                    </li>

                    <li><i class="fa fa-info"></i><label class="control-label">TableId:</label> @Model.TableId  </li>
                   
                    <li><i class="fa fa-building"></i><label class="control-label">Table Name: </label></li>
                    
                    <li>@Model.TableName</li>
                    <li>

                    </li>
                    <li><i class="fa fa-info"></i><label class="control-label">IsActive:</label> @Model.IsActive  </li>
                </ul>
            </div>
        </div>    

                <!--end col-md-8-->
                <!--end col-md-4-->
            </div>
            <!--end row-->

          
        </div>







<script>
   
</script>
        <script type="text/javascript">


            //function getBranchList(e) {
               
            //    var el = jQuery('#Treediv');
            //    App.blockUI(el);
            //    window.setTimeout(function () {
            //        App.unblockUI(el);
            //    }, 2000);

            //    $.get("/BCompanies/_subTree?parentId=" + $(e).attr("id"), function (data) {


            //        $('#Treediv').html(data);




            //    }).fail(function () {

            //        showtoasteralert('warning', 'Ajax', 'error', this);

            //    })

            //    ;
            //};

          
            
            

        </script> 