<ul class="page-sidebar-menu" id="navM">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search" action="extra_search.html" method="POST">
            <div class="form-container">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..." />
                    <input type="button" class="submit" value=" " />
                </div>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start ">



        <a href="@Url.Action("Dashboard","Home")">

            <i class="fa fa-home"></i>
            <span class="title">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>

    <li class="">
        <a href="@Url.Action("Portfolio","Company")">
            <i class="fa fa-folder"></i>
            Company
            <span class="arrow"></span>
        </a>
    </li>
    <li class="">
        <a href="#">
            <i class="fa fa-sitemap"></i>
            <span class="title">Business Definitions</span>
            <span class="arrow "></span>
        </a>


        <ul class="sub-menu">
            <li class="">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    Company
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("Portfolio","Company")"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-folder"></i>
                    Unit
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-folder"></i>
                    Devision
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-folder"></i>
                    Team
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span class="title">Core Definitions</span>
            <span class="arrow "></span>
        </a>

        <ul class="sub-menu">
            <li>
                <a href="javascript:;">
                    <i class="fa fa-gear"></i>
                    Process
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-stack-exchange"></i>
                    Stage
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-stack-overflow"></i>
                    Section
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"> <span class="badge badge-roundless badge-warning">new</span></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

        </ul>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-user"></i>  <span class="title">User Definitions </span>  <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-group"></i>
                    Group
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-magic"></i>
                    Role
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="fa fa-user"></i>
                    User
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Add New</a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Manage</a></li>
                </ul>
            </li>

        </ul>
    </li>

</ul>